a {
  color: aliceblue;
  text-decoration: none;
}

.card-image {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  margin: 0;
}

.card-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  margin-bottom: 15px;
  margin-top: 15px;
}

.icon {
  margin: 1rem;
}
