:root {
  color: aliceblue;
  --dark-grey: #19191ccc;
  --card-background: #29292c;
}

/* main background animation */
.page-wrapper {
  width: 100%;
  position: fixed;
  height: 100vh;
  background-repeat: no-repeat;
  background-position: top center;
  perspective: 200px;
  z-index: -1;
}

/* 
-------------
HERO SECTION 
-------------
 */
.hero-card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  flex-direction: column;
}
.hero-content {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.full-height {
  height: 100vh;
}

/* 
---------------
ABOUT SECTION
---------------
*/

.about-cards {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  background-color: var(--dark-grey);
  padding-top: 5vh;
  padding-bottom: 5vh;
  margin-bottom: 25vh;
  margin-top: 25vh;
}
/* add media query to change this from row to column for mobile devices */

.about-image-card {
  display: flex;
  min-width: 40%;
  background-image: url(./assets/images/Logo\ SVG.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  margin: 4rem;
}
.about-info-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-width: 40%;
  margin: 4rem;
}

@media (max-width: 1000px) {
  .about-cards {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
  }
  .about-info-card {
    justify-content: center;
    align-items: center;
    width: 80%;
  }
  .about-image-card {
    min-height: 50vh;
    width: 80%;
  }
}

/* 
----------------
FEATURED SECTION
----------------
*/

.featured-section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: var(--dark-grey);
  justify-content: space-evenly;
  width: 100%;
}
.section-header {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  margin: 5rem;
}
.featured-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
  height: 90vh;
  margin: 1rem;
  padding: 1rem;
  background-color: var(--card-background);
  border-radius: 0.5rem;
}
.card-header {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
}
.card-image {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
}
.card-body {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
}
.card-footer {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: flex-start;
}
@media (max-width: 1000px) {
  .featured-section {
    flex-direction: column;
  }
}
