:root {
  color: aliceblue;
  --dark-grey: #191a1cf4;
}

/* main background animation */
.page-wrapper {
  width: 100%;
  position: fixed;
  height: 100vh;
  background-repeat: no-repeat;
  background-position: top center;
  perspective: 200px;
  z-index: -1;
}

/* 
-------------
HERO SECTION 
-------------
 */
.hero-card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  flex-direction: column;
}
.hero-content {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.full-height {
  height: 100vh;
}

/* 
---------------
ABOUT SECTION
---------------
*/

.about-cards {
  display: flex;
  flex-direction: row;
  background-color: var(--dark-grey);
  padding-top: 5vh;
  padding-bottom: 5vh;
  margin-bottom: 25vh;
  margin-top: 25vh;
}
/* add media query to change this from row to column for mobile devices */

.about-image-card {
  display: flex;
  width: 40%;
  background-image: url(./assets/images/Logo\ SVG.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.about-info-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 40%;
}

@media (max-width: 1000px) {
  .about-cards {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
  }
  .about-info-card {
    justify-content: center;
    align-items: center;
    width: 80%;
  }
  .about-image-card {
    min-height: 50vh;
    width: 80%;
  }
}

/* 
----------------
FEATURED SECTION
----------------
*/

.featured-section {
  display: flex;
  flex-direction: row;
}

@media (max-width: 1000px) {
  .featured-section {
    flex-direction: column;
  }
}
