:root {
  color: aliceblue;
  --dark-grey: #19191ccc;
  --card-background: #29292c;
}

/* main background animation */
.page-wrapper {
  width: 100%;
  position: fixed;
  height: 100vh;
  background-repeat: no-repeat;
  background-position: top center;
  perspective: 200px;
  z-index: -1;
}

/* 
---------------
GLOBAL CLASSES 
---------------
*/
.grow {
  transition: all 0.2s ease-in-out;
}

.grow:hover {
  transform: scale(1.1);
}

/* 
-------------
HERO SECTION 
-------------
 */
.hero-card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  flex-direction: column;
}
.hero-content {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.full-height {
  height: 100vh;
}

/* 
---------------
ABOUT SECTION
---------------
*/

.about-cards {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  background-color: var(--dark-grey);
  padding-top: 5vh;
  padding-bottom: 5vh;
  margin-bottom: 25vh;
  margin-top: 25vh;
}
/* add media query to change this from row to column for mobile devices */

.about-image-card {
  display: flex;
  min-width: 40%;
  background-image: url(./assets/images/Logo\ SVG.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  margin: 4rem;
}
.about-info-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-width: 40%;
  margin: 4rem;
}

@media (max-width: 1000px) {
  .about-cards {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
  }
  .about-info-card {
    justify-content: center;
    align-items: center;
    width: 80%;
  }
  .about-image-card {
    min-height: 50vh;
    width: 80%;
  }
}

/* 
----------------
FEATURED SECTION
----------------
*/

.featured-section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: var(--dark-grey);
  justify-content: space-evenly;
  width: 100%;
  margin-bottom: 10rem;
}
.section-header {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  margin: 5rem;
}
.featured-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
  height: 90vh;
  width: 25%;
  margin: 1rem;
  margin-bottom: 5rem;
  padding: 2rem;
  background-color: var(--card-background);
  border-radius: 0.5rem;
}
.card-header {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
}
.card-image {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
}
.card-body {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
}
.card-footer {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: flex-start;
}
@media (max-width: 1400px) {
  .featured-section {
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    align-content: center;
  }
  .featured-card {
    width: 75%;
    height: 70vh;
    margin: 1rem;
    margin-bottom: 5rem;
    padding: 4rem;
  }
}
@media (max-width: 700px) {
  .featured-card {
    width: 75%;
    margin: 1rem;
    padding: 1rem;
    height: 80vh;
  }
}

/* 
----------------
PROJECTS SECTION
----------------
*/

.project-section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 5rem;
  width: 100%;
  background-color: var(--dark-grey);
  justify-content: space-evenly;
}

.project-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
  max-height: 500px;
  min-height: 50vh;
  max-width: 250px;
  min-width: 200px;
  margin: 2rem;
  margin-bottom: 4rem;
  padding: 2rem;
  background-color: var(--card-background);
  border-radius: 0.5rem;
}

.container-react-projects {
  display: flex;
  flex-direction: row;
}

.container-backend-projects {
  display: flex;
  flex-direction: row;
}

.container-misc-projects {
  display: flex;
  flex-direction: row;
}

/* 
----------------
CONTACT SECTION
----------------
*/

.contact-section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  margin-bottom: 5rem;
  padding-bottom: 5rem;
  background-color: var(--dark-grey);
}

.contact-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
  max-width: 175px;
  height: 50vh;
  background-color: var(--card-background);
  border-radius: 0.5rem;
  padding: 2rem;
}

/* 
----------------
FOOTER SECTION
----------------
*/

.footer-section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 5rem;
}

.footer-card {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  margin-bottom: 5rem;
}

.footer-card a {
  display: flex;
}

/* Carousel Experiment */

.carousel-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 5rem;
}

.carousel-card {
  background-image: url("./assets/images/logo512.png");
  background-size: contain;
  width: 250px;
  height: 250px;
}
